
.container{ 
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        to top,
        #d54c85,
        #dfa8bf,
        
    );
    align-items: center;//
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    justify-content: center;
    color: #AF0A51;
    font-weight: 700;
    margin: 6px 0px;
}