.container{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top, #3166a7, #a7bfdc);

    gap: 10px; // espaço pequeno entre eles //
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px; // adiciona espaço no final
    box-sizing: border-box;//muda a forma como o navegador calcula o tamanho de um elemento.
    overflow: hidden; //impede o scroll mas não ta funcionando
}
html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}
.container-main{
p{
    color: #190858;
    font-weight: 700;
    margin: 6px 0px;
}
    z-index: 99999999;
}
.container-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
    
.item input[type="text"] {
    padding: 8px 14px;
    border-radius: 8px;
    border: 1px solid #dcdcdc;
    font-size: 14px;
    background: #ffffff; 
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
} 
.valor-select {
    padding: 8px 10px;
    border-radius: 20px;
    border: 1px solid #dcdcdc;
    background-color: white;
    font-size: 14px;
    outline: none;
    color: #190858;
    font-weight: 700;

appearance: none; 
-webkit-appearance: none;
-moz-appearance: none;
}
.círculos{
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

.c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10{
    position: absolute;
    border-radius: 50%;
}

.c1{
    width: 120px;
    height: 120px;
    background-color: #4a68ff;
    top: -20px;
    left: -10px;
}
.c3{
width: 200px;
    height: 200px;
    background-color: #03244d;
    top: -20px;
    right: -40px;
}
.c4{
width: 120px;
    height: 120px;
    background-color: #3f0aff;
    top: -20px;
    right: 170px;
}
.c5{
    width: 120px;
    height: 120px;
    background-color: #2994ff;
    top: -60px;
    right: 250px;
}
.c6{
    width: 180px;
    height: 180px;
    background-color: #4aabff;
    bottom: -20px;
    right: 220px;
}
.c7{
    width: 120px;
    height: 120px;
    background-color: #3a6afa;
    bottom: -5px;
    right: 350px;
}
.c8{
    width: 120px;
    height: 120px;
    background-color: #040d39;
    bottom: 2px;
    left: 200px;
}
.c9{
    width: 150px;
    height: 150px;
    background-color: #0c4bb1;
    bottom: 2px;
    left: 300px;
}
.c10{
    width: 120px;
    height: 120px;
    background-color: #73d5f9;
    top: -40px;
     left: 230px;
 }
button{
    padding: 8px 10px;
    border-radius: 20px;
    border: 1px solid #dcdcdc;
    background-color: white;
    font-size: 14px;
    color: #190858;
    font-weight: 700;
}