
.container{ 
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        to top,
        #d54c85,
        #dfa8bf,
        
    );
    align-items: center;//
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.card-cima{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(206, 2, 87);
    width: 100%;
    height: 89px;
    border-radius: 0 0 30px 0;// deixa só a bordinha direita de baixo arredondada

    //alinha a frase no meio e no centro do card:
    display: flex;
    align-items: center; 
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px; // espaço após o card superior


    
p {
    color: white;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0 20px;
    }
}

//arruma todos os cards juntos:
.card1,
.card2,
.card3,
.card4,
.card5 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: white;
    padding: 20px 24px;
    margin: 16px 0;
    width: 90%;
    max-width: 350px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); //
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    
&:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

p {
    color: rgb(206, 2, 87);
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    text-align: center;
}
}
:host { //isso é para a tela não scrollar para baixo
    display: block;
    height: 100vh;
    overflow: hidden;
  }
